# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.tree-view': [
    {
      'label': 'ansible-galaxy',
      'command': 'ansible-galaxy:galaxize'
    }
  ]
